<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <form action="/chat" method="POST" v-on:submit.prevent="postMessage">
        <input type="text" name="message" v-model="message">
        <input type="submit" value="Send" >
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
    <script>
    new Vue({
        el: "#app",
        data: {
            message: ''
        },
        methods: {
            postMessage() {
                
               
                axios.post("http://localhost:3000/get", this.message).then((response) => {
               
            });
        }
        }
    });
    </script>
</body>
</html>